<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Confessions Nitj</h1>
    <p class="secret-text">Don't worry they will be secrets..🤫 until Dooms Day🪦</p>

    <form action="/secrets/submit" method="POST">

      <div class="form-group">
        <input type="text" class="form-control text-center" name="secret" placeholder="Write your heart out">
      </div>
      <button type="submit" class="btn btn-dark">Post</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
